@import "../../../styles/index.scss";

.headerContainer {
  gap: $px10;
  display: flex;
  position: absolute;
  transition: all 2s;
  padding: $px20 $px50;
  flex-direction: column;
  background: $section-header;
  @media only screen and (max-width: $tableXs) {
    padding: $px20;
    position: relative;
    border-radius: $px10 !important;
  }
}

.left {
  left: 0;
  text-align: left;
  align-items: flex-start;
  border-radius: 0 $px10 $px10 0;
}

.right {
  right: 0;
  text-align: right;
  align-items: flex-end;
  border-radius: $px10 0 0 $px10;
}
