@import "../../../styles/index.scss";

.layout {
    min-height: 100vh;
    background: black;
    display: flex;
    flex-direction: column;
    &__children {
        flex: 1;
        background: $layout;
    }
}
