@mixin themeColorText {
  background-clip: text;
  background: $theme-color;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin baseCard {
  height: auto;
  border-radius: 10px;
  box-sizing: border-box;
}

@mixin centerRow($align: center, $justify: center) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

@mixin centerColumn($align: center, $justify: center) {
  display: flex;
  align-items: $align;
  flex-direction: column;
  justify-content: $justify;
}
