$dark-color: black;
$light-color: white;

$px1: 0.063rem;

$px10: 0.625rem;
$px15: 0.938rem;
$px20: 1.25rem;
$px25: 1.563rem;
$px30: 1.875rem;
$px35: 2.188rem;
$px40: 2.5rem;

$white-shadow: $px10 $px10 $px20 rgba(255, 255, 255, 0.2);
