$dark-color: black;
$light-color: white;
$theme-color: linear-gradient(90deg, #9f2fff 0%, #0bb1d3 100%);
$theme-color-diagonal: linear-gradient(45deg, #9e2fff63 0%, #0bb2d377 100%);

$circle-decorator: rgba(215, 161, 249, 0.2);
$diagonal-frame: radial-gradient(
    130.97% 217.93% at 49.92% 50.32%,
    rgba(255, 120, 217, 0.344) 0%,
    rgba(204, 135, 198, 0.295625) 64.58%,
    rgba(212, 140, 179, 0.184) 100%
);

$theme-color-card: linear-gradient(298.01deg, rgba(0, 93, 99, 0.48) 0%, rgba(120, 234, 255, 0.04) 100%);
$outline-theme-card: linear-gradient(102.21deg, rgba(120, 255, 236, 0.1) 23.95%, rgba(0, 0, 0, 0) 100%);
$section-header: linear-gradient(180deg, rgba(0, 142, 162, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
$header: linear-gradient(-45deg, #ee765254, #23a5d562, #23d5ab6e);

$layout: linear-gradient(146.38deg, rgba(0, 0, 0, 0.3) 46.64%, rgba(120, 255, 236, 0.09) 100%);

$px1: 0.063rem;
$px5: 0.313rem;
$px10: 0.625rem;
$px15: 0.938rem;
$px20: 1.25rem;
$px25: 1.563rem;
$px30: 1.875rem;
$px35: 2.188rem;
$px40: 2.5rem;
$px50: 3.125rem;
$px100: 6.25rem;

$white-shadow: $px10 $px10 $px20 rgba(255, 255, 255, 0.2);

// breakpoints
$mobileXs: 480px;
$mobile: 576px;
$tableXs: 768px;
$tablet: 992px;
$desktopXs: 1200px;
$desktop: 1600px;
