@import "../../../styles/index.scss";

.header {
    display: flex;
    padding: 0 $px40;
    align-items: center;
    background: $header;
    background-size: 200% 200%;
    animation: gradient 15s ease infinite;
    border-radius: 0 0 10px 10px;
    border-bottom: 3px solid rgba(120, 255, 236, 0.5);
    box-shadow: 0px 10px 50px rgba(114, 195, 206, 0.5);
    &__logo {
        padding-right: $px20;
        margin: $px20 $px20 $px20 0;
        border-right: 2px solid white;
    }
    &__routes {
        flex: 1;
        gap: $px20;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &__route {
        display: block;
        color: white;
        cursor: pointer;
        padding: 0.2em 0;
        position: relative;
        &::after {
            left: 0;
            bottom: 0;
            opacity: 1;
            width: 100%;
            content: "";
            height: 0.1em;
            position: absolute;
            transform: scale(0);
            background-color: white;
            transform-origin: center;
            transition: opacity 300ms, transform 300ms;
        }
        &:hover::after,
        &:focus::after {
            opacity: 1;
            transform: scale(1);
        }
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
