@import "../../../styles/index.scss";

.footerContainer {
  width: 100%;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-image: url(../../../assets/img/footer.jpg);
}

.blurContainer {
  gap: $px30;
  height: 100%;
  padding: $px50;
  text-align: center;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
  @include centerColumn($justify: flex-end);
}

.contactDiv {
  gap: $px10;
  width: 100%;
  border-radius: 5px;
  padding: $px5 $px20;
  margin-bottom: $px50;
  box-sizing: border-box;
  box-shadow: $white-shadow;
  background: rgba(255, 255, 255, 0.3);
  @include centerRow($justify: space-between);
}

.iconContainer {
  gap: $px20;
  @include centerRow;
}

.socialIcon {
  padding: $px5;
  @include centerRow;
  border-radius: 100%;
}

.socialIcon:hover {
  animation-duration: 2s;
  animation-name: rotation;
}

@keyframes rotation {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(359deg);
  }
}
