@import "../../../styles/index.scss";

.container {
    gap: $px20;
    display: flex;
    z-index: 9999;
    height: max-content;
    align-items: center;
    flex-direction: column;
}

.carousel {
    height: 390px;
    position: relative;
    width: 100%;
    &__item {
        top: 0;
        width: 250px;
        height: 370px;
        padding: 10px;
        transition: 0.5s;
        position: absolute;
        text-align: justify;
        border-radius: 10px;
        left: calc(50% - 135px);
        background: $theme-color-diagonal;
    }
    &__teamImage {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        box-sizing: border-box;
    }
    &__arrows {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        display: flex;
        position: absolute;
        justify-content: space-between;
    }
    &__prev {
        transform: rotate(180deg);
    }
    &__info {
        gap: $px10;
        width: 100%;
        display: flex;
        padding: $px20;
        text-align: justify;
        align-items: center;
        border-radius: 20px;
        box-sizing: border-box;
        flex-direction: column;
        background-color: rgba($color: #fff, $alpha: 0.2);
    }
    &__topInfo {
        width: 100%;
        display: flex;
        align-items: center;
        gap: $px10;
        justify-content: space-between;
        @media only screen and (max-width: $mobile) {
            flex-direction: column;
        }
    }
    &__teamName {
        padding: $px5 $px25;
        border-radius: 30px;
        text-align: center;
        background-image: $theme-color;
    }
    &__divider {
        width: 100%;
        margin: 10px 0;
        background-image: $theme-color-card;
    }
}
