@import "../../../../styles/index.scss";

.rounded {
  gap: $px10;
  display: flex;
  align-items: center;
  flex-direction: column;

  &__baseCard {
    display: flex;
    padding: $px30;
    overflow: hidden;
    @include baseCard;
    text-align: center;
    position: relative;
    border-radius: 100%;
    background: white;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  &__titleContainer {
    padding: $px10;
    border-radius: 50px;
    background: rgba($color: #fff, $alpha: 0.2);
  }
  &__title {
    white-space: normal;
  }
}
